{
    acme_ca https://step-ca.intra:9000/acme/acme/directory
    acme_ca_root /etc/caddy/step-root-ca.crt
}

www.app.intra {
    tls {
        client_auth {
            mode require_and_verify
            trusted_ca_cert_file /etc/caddy/step-root-ca.crt
        }
    }

    respond "Hello from step-ca + Caddy 🎉"
}
