entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false

certificatesResolvers:
  step:
    acme:
      email: "admin@intra.local"
      storage: /acme.json
      caServer: "http://step-ca.intra:9000/acme/acme/directory"
      httpChallenge:
        entryPoint: web
