.App {
  min-height: 100vh;
  background-color: #f5f5f5;
  padding: 2px;
}

/* Responsive design for mobile and tablet */
@media (max-width: 600px) {
  .App {
    padding: 1px;
  }
}

@media (min-width: 601px) and (max-width: 960px) {
  .App {
    padding: 1px;
  }
}

@media (min-width: 961px) {
  .App {
    padding: 2px;
  }
}