services:
  pihole:
    image: pihole/pihole:latest
    container_name: pihole
    hostname: pihole
    restart: unless-stopped

    environment:
      TZ: "Asia/Tokyo"
      WEBPASSWORD: "Huawei_12345678" # Web UI 登录密码
      DNSMASQ_LISTENING: "all"

    volumes:
      - ./etc-pihole:/etc/pihole
      - ./etc-dnsmasq.d:/etc/dnsmasq.d

    cap_add:
      - NET_ADMIN

    networks:
      my-net:
        ipv4_address: 172.30.0.53

networks:
  my-net:
    external: true
