test.user-service.com {

    root * /root/hadoop-3.4.1/share/doc/hadoop
    file_server browse

    tls {
        ca https://www.ca.com:8443/acme/acme/directory
        ca_root /etc/caddy/root_ca.crt
    }

    log {
        output file /var/log/caddy/kafka-site-docs.log
        format json
    }
}

