{
    acme_ca https://stepca.home:9000/acme/acme/directory
    acme_ca_root /etc/caddy/step-root-ca.crt
}

blog.home {

    root * /var/www/public

    encode gzip zstd

    header {
        Cache-Control "public, max-age=600"
    }

    try_files {path} {path}/ /index.html

    file_server
}
